.elementor-2418 .elementor-element.elementor-element-11b2e53 {
    --display: flex;
    --background-transition: 0.3s;
    --margin-top: 110px;
    --margin-bottom: 110px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
  }
  